<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (f of config; track f.name) {
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ f.label }}</mat-label>
    <input
      matInput
      [type]="f.type"
      [placeholder]="f.placeholder || ''"
      [formControlName]="f.name"
    />

    <am-inline-errors
      [control]="form.get(f.name)!"
      [errorMessages]="errorMessages"
    >
    </am-inline-errors>
  </mat-form-field>
  }

  <button mat-raised-button color="primary" type="submit">
    {{ submitLabel }}
  </button>
</form>
