<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <ng-container *ngFor="let f of config; trackBy: trackByName">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ f.label }}</mat-label>
      <input
        matInput
        [type]="f.type"
        [placeholder]="f.placeholder || ''"
        [formControlName]="f.name"
      />

      <am-inline-errors
        [control]="form.get(f.name)!"
        [errorMessages]="errorMessages"
      >
      </am-inline-errors>
    </mat-form-field>
  </ng-container>

  <button mat-raised-button color="primary" type="submit">
    {{ submitLabel }}
  </button>
</form>
